@import "tailwindcss";

@keyframes float {
  0%,
  100% {
    transform: translateY(0) rotate(6deg);
  }
  50% {
    transform: translateY(-10px) rotate(6deg);
  }
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}
:root {
  --primary: #6366f1;
  --primary-dark: #4f46e5;
  --secondary: #f59e0b;
  --dark: #1e293b;
  --light: #f8fafc;
  --gray: #94a3b8;
}

.gradient-text {
  background: linear-gradient(90deg, var(--primary), var(--secondary), #ffd700);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
